body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.darkBackground {
    background-color: #3d3d3d;  
    color: #d1d1d1;          
    line-height: 1.0;                    
    min-height: 100vh;            
    padding: 1rem;               
    font-family: sans-serif;      
}


/*#region button styling */

/* credit: https://getcssscan.com/css-buttons-examples */

@media (min-width: 768px) {
    .buttonGroup button {
    padding: 0.25em 0.75em;
    }
}

.buttonGroup button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonGroup button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.buttonGroup button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
/*#endregion*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}


.counterCell {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    min-width: 150px;
    flex: 1 1 200px;
    margin: 0.5rem;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.counterCell:hover{
    background-color: #5f5f5f;
}

.counterGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1rem;
  padding: 1rem;
}

.headers {
    font: "EB Garamond";
    overflow: hidden;
}

.headers> :last-child {
    transform: rotatex(180deg) translatey(15px);
}

.headers:first-of-type> :last-child {
    --gradient: linear-gradient(transparent 50%, white 90%);
    mask-image: var(--gradient);
    opacity: 0.1;
}

.headers:nth-of-type(2)> :last-child {
    --gradient: linear-gradient(transparent 50%, white 90%);
    mask-image: var(--gradient);
    opacity: 0.5;
}